@import url('https://fonts.googleapis.com/css?family=Saira:200,400,500,600,700');

* { border: 0; padding: 0; box-sizing: border-box; margin: 0; }
body { font-family: 'Saira', sans-serif; display: flex; justify-content: center; flex-flow: column nowrap;}
