
.section {
  display: flex;
  align-items: left;
  flex-flow: column nowrap;
  width: 100%;
  max-width: em(1100);
  overflow: hidden;
  border: em(1) solid $ghost;
  border-left: solid em(10) $black;
  border-radius: em(4);
  padding: em(20);
  margin: em(20) auto;

  &__title {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-size: em(18);
    font-weight: 900;
    text-shadow: -1px -2px 0 rgba(150, 150, 150, 0.42);
  }
  &--skills {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;;
    flex-basis: auto;
    align-items: stretch;
  }
}
